<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>


<!--Login form-->
    <div class="jumbotron  ">
        <div class="alert alert-success" role="alert">
            <h1 class="alert-heading">Developer Point</h1>
            <hr>
        </div>

        <section class="vh-100">
            <div class="container-fluid h-custom">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-md-9 col-lg-6 col-xl-5">
                        <img src="https://www.kindpng.com/picc/m/4-42757_full-stack-developers-developer-png-transparent-png.png" class="img-fluid"
                             alt="Sample image">
                    </div>
                    <div class="jumbotron ">
                    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                        <form>
                            <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                                <h2  >Sign in with</h2>

                                <a href="<%=url%>" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
                                <a  href="http://127.0.0.1:5000/login" class="btn btn-info"><span class="fa fa-github"></span> GitHub</a>
                            </div>

                            <div class="divider d-flex align-items-left my-4">
                                <p class="text-center fw-bold mx-3 mb-0">Login</p>
                            </div>

                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <input type="email" id="form3Example3" class="form-control form-control-lg"
                                       placeholder="Enter a valid email address" />
                                <label class="form-label" for="form3Example3">Email address</label>
                            </div>

                            <!-- Password input -->
                            <div class="form-outline mb-3">
                                <input type="password" id="form3Example4" class="form-control form-control-lg"
                                       placeholder="Enter password" />
                                <label class="form-label" for="form3Example4">Password</label>
                            </div>

                            <div class="d-flex justify-content-between align-items-center">
                                <!-- Checkbox -->
                                <div class="form-check mb-0">
                                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                                    <label class="form-check-label" for="form2Example3">
                                        Remember me
                                    </label>
                                </div>
                                <a href="#!" class="text-body">Forgot password?</a>
                            </div>

                            <div class="text-center text-lg-start mt-4 pt-2">
                                <button type="button" class="btn btn-primary btn-lg"
                                        style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                                <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="#!"
                                                                                                  class="link-danger">Register</a></p>
                            </div>

                        </form>
                    </div>
                    </div>
                </div>
            </div>

        </section>

    </div>


</body>
</html>