<!doctype html>
<html>
<head>
    <title>Developer Point</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>


    <div class="jumbotron  ">
        <div class="alert alert-success" role="alert">
            <h1 class="alert-heading">Developer Point</h1>
            <hr>
        </div>
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="https://miracomosehace.com/wp-content/uploads/2020/06/Archivos-Google-Drive-1.jpg" alt="Card image cap" height="200" width="300">
            <div class="card-body">
                <p class="card-text">For further actions, Please allow to access Google Drive</p>
                <a  href="<%=url%>" class="btn btn-info"><span class="fa fa-google"></span> Authenticate</a>

            </div>
        </div>

<!--        <section class="vh-100">-->
<!--            <div class="container-fluid h-custom">-->
<!--                <div class="row d-flex justify-content-center align-items-center h-100">-->
<!--                    <div class="col-md-9 col-lg-6 col-xl-5">-->
<!--                        <img src="https://miracomosehace.com/wp-content/uploads/2020/06/Archivos-Google-Drive-1.jpg" class="img-fluid"-->
<!--                             alt="Sample image">-->
<!--                    </div>-->
<!--                    <div class="jumbotron ">-->
<!--                    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">-->

<!--                        -->
<!--                            <div class="col-sm-10">-->
<!--                                <div class="card ">-->
<!--                                    <div class="card-body">-->
<!--                                    <a  href="<%=url%>" class="btn btn-info"><span class="fa fa-google"></span> Sign In with Google to manage your notes for your git hub account. </a>-->

<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                    </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--        </section>-->

    </div>


</body>
</html>